<h1>Showing all Units</h1>




<div class="container">
  <div class="card text-center">
    <form method="get">
      <div class="row">
        <div class="form-group col-sm-6">
          <div class="card-header">
            <label for="exampleFormControlSelect1">Select Unit Type</label>
          </div>
          <div class="card-body">
            <select class="form-control" name="unit_type" id="exampleFormControlSelect1">
              <option></option>
              <option>Canteen</option>
              <option>Office-Welfare</option>
              <option>Aurora</option>
            </select>
          </div>
        </div>
        <div class="form-group col-sm-6">
          <div class="card-header">
            <label for="exampleFormControlSelect2">Select Unit Size</label>
          </div>
          <div class="card-body">
            <select class="form-control" name="unit_size" id="exampleFormControlSelect2">
              <option></option>
              <option>28X10</option>
              <option>32X10</option>
            </select>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>


<div class="container">
  <% @units.each do |unit| %>
    <div class="card" style="width: 18rem;">
      <% if unit.images.attached? %>
        <%= image_tag unit.images[0], class: "card-img-top" %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= unit.id_no %></h5>
        <p class="card-text"><%= unit.unit_type + ": " + unit.size %></p>
        <%= link_to "View", unit_path(unit), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
