<h1>Showing all Units</h1>

<% @units.each do |unit| %>
  <div class="card" style="width: 18rem;">
    <% if unit.images.attached? %>
      <%= image_tag unit.images[0], class: "card-img-top" %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= unit.id_no %></h5>
      <p class="card-text"><%= unit.unit_type + ": " + unit.size %></p>
      <%= link_to "View", unit_path(unit), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
