<p>
  <strong>Unit: </strong>
  <%= @unit.id_no %>
</p>

<p>
  <strong>Type: </strong>
  <%= @unit.unit_type %>
</p>

<p>
  <strong>Size: </strong>
  <%= @unit.size %>
</p>

<% if @unit.images.attached? %>
  <p><strong>Images: </strong><br></p>
  <% @unit.images.each do |image| %>
    <%= image_tag image.variant(resize: "300x300") %>
  <% end %>
<% end %>


